<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        <label>院系id: <input type="text" name="dept_id"> <span>{{ error1 }}</span> </label>
        <label>院系名称: <input type="text" name="dept_name"> <span>{{ error2 }}</span></label>
        <label>院系地址: <input type="text" name="dept_address"></label>
        <button>提交</button>
    </form>
    {% if error %}
        <script>
            alert('{{ error }}');
        </script>
    {% endif %}
</body>
</html>