<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生选课系统</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/dashboard.css">
    {% if error %}
        <script>
            alert('{{ error }}');
            window.location.href = "/self_course/"
        </script>
    {% endif %}
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/student_elective/">学生选课系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/history_course/">成绩单</a></li>
                <li><a href="/export_users_xls/">导出XLS</a></li>
                <li><a href="/export_users_csv/">导出CSV</a></li>
                <li><a href="/user_logout/">登出</a></li>
            </ul>
            <form class="navbar-form navbar-right" method="post">
                <input type="text" name="c_id" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/student_elective/">课程列表 </a></li>
                <li><a href="/self_course/">我的课程 </a></li>
                <li><a href="/self_information/">我的信息</a></li>
                <li class="active"><a href="/history_course/">历史课程</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">课程列表</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>course_id</th>
                        <th>course_name</th>
                        <th>course_credit</th>
                        <th>course_time</th>
                        <th>teacher</th>
                        <th>department</th>
                        <th>score</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for elective in all_elective %}
                        {% if elective.score != null and elective.retake != 1 %}
                        <tr>
                            <td>{{ elective.course_id }}</td>
                            <td>{{ elective.course.course_name }}</td>
                            <td>{{ elective.course.course_credit }}</td>
                            <td>{{ elective.course.course_time }}</td>
                            <td>{{ elective.course.teacher.teacher_name }}</td>
                            <td>{{ elective.course.department.dept_name }}</td>
                            <td>{{ elective.score }}</td>
                            <td>
                                <a class="btn btn-danger btn-sm"
                                   href="/retake_course/?course_id={{ elective.course_id }}">重修</a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>

</html>