<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/signin.css">
</head>

<body>

{#<img src="/static/Images/1.jpg" alt="">#}
{#<img src="/static1/2.jpg" alt="">#}
{#<img src="/static/3.jpg" alt="">#注意2 3句的区别 2找不到3能找到#}

<div class="container">

    <form class="form-signin" action="" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="form-group {% if error %}has-error{% endif %}">
            <label for="inputEmail" class="sr-only">User_name</label>
            <input type="text" id="inputEmail" name="user" class="form-control" placeholder="User_name" required
                   autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                   required>
            <span class="help-block">{{ error }}</span>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>#}
</body>
</html>