<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生选课系统</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/dashboard.css">
    {% if error %}
        <script>
            alert('{{ error }}');
            window.location.href="/student_elective/"
        </script>
    {% endif %}
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">学生选课系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/history_course/">成绩单</a></li>
                <li><a href="/export_users_xls/">导出XLS</a></li>
                <li><a href="/export_users_csv/">导出CSV</a></li>
                <li><a href="/user_logout/">登出</a></li>
            </ul>
            <form class="navbar-form navbar-right" method="post">
                <input type="text" name="c_id" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/student_elective/">课程列表 </a></li>
                <li><a href="/self_course/">我的课程 </a></li>
                <li class="active"><a href="/self_information/">我的信息</a></li>
                <li><a href="/history_course/">历史课程</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">我的信息</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>student_id</th>
                        <th>student_name</th>
                        <th>student_age</th>
                        <th>student_sex</th>
                        <th>person_id</th>
                        <th>phone_number</th>
                        <th>department</th>
                    </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <td>{{ information.student_id }}</td>
                            <td>{{ information.student_name }}</td>
                            <td>{{ information.student_age }}</td>
                            <td>{{ information.student_sex }}</td>
                            <td>{{ information.person_id }}</td>
                            <td>{{ information.phone_number }}</td>
                            <td>{{ information.department }}</td>


                        </tr>




                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>

</html>